# gradle
.gradle/
build/
out/
classes/

# eclipse
*.launch

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# fabric
run/

# macos
*.DS_Store
src/main/resources/assets/minecraft/textures/entity/alex.png
src/main/resources/assets/minecraft/textures/entity/steve.png
run/options.txt
